<p id="notice"><%= notice %></p>

<p>
  <%= image_tag(@flower.image_url, class: 'list_image') %>
</p>

<p>
  <strong>Name:</strong>
  <%= @flower.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @flower.description %>
</p>

<p>
  <strong class='price)'>Price:</strong>
  <%= number_to_currency(@flower.price) %>
</p>

