<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>

<h1>All Kind of Flowers</h1>

<% cache ['store', Flower.latest] do %>
    <% @flowers.each do |f| %>
        <% cache ['entry', f] do %>
          <div class="entry">
            <%= image_tag(f.image_url) %>
            <h3><%= f.name %></h3>
            <%= sanitize(f.description) %>
            <div class="price_line">
              <span class="price"><%= number_to_currency(f.price) %></span>
              <%= button_to 'Add to Cart', line_items_path(product_id: product),
            remote: true %>
            </div>
          </div>
        <% end %>
    <% end %>
<% end %>

