<!DOCTYPE html>
<html>
<head>
  <title>YellowOrchids</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>

<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <%= link_to 'Yellow Orchids', root_path, class: 'navbar-brand' %>
    </div>
    <div id="navbar">
        <ul class="nav navbar-nav pull-right">
          <li>Contact</li>|
          <li>Question</li>
        </ul>
    </div>
    </div>
</nav>

<%= yield %>

</body>
</html>
